<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:src="@{/layui/layui.all.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
    <script th:inline="javascript">
        !(function(){
            let $ = layui.jquery
                ,element = layui.element
                ,laytpl = layui.laytpl;
            let mt = document.querySelector('#menuTemplates');
            if (!mt) return;
            $.get('/api/v1/system/menus/tree',function(data){
                let menuTemplatesHtml = mt.innerHTML;
                laytpl(menuTemplatesHtml).render(data, function (html) {
                    let nav = $('#nav');
                    nav.append(html);
                });
                element.render();
                let items = document.querySelectorAll('.layui-side .layui-nav .layui-nav-item');
                items.forEach(function (item) {
                    let activated = item.querySelector('.layui-this');
                    if (!activated) return;
                    item.className = item.className + ' layui-nav-itemed';
                });
            });
        }());
    </script>
</th:block>
</html>