<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-side-menu" th:fragment="menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
            <span>绿呗支付-管理后台</span>
        </div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="nav"  lay-filter="test">
            <script id="menuTemplates" type="text/html">
                {{# layui.each(d, function(index, item){ }}
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon {{ item.icon }}"></i>
                        <cite>{{ item.title }}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        {{# layui.each(item.children, function(i, it){ }}
                        {{# if (it.type === 2 ) { }}
                        <dd class="{{# if(window.location.pathname.indexOf(it.path) === 0) { }} layui-this {{# } }}">
                            <a href="{{ it.path }}">{{ it.title }}</a>
                        </dd>
                        {{# } }}
                        {{#  }); }}
                    </dl>
                </li>
                {{#  }); }}
            </script>
        </ul>
    </div>
    <script th:inline="javascript">
        !(function(){
            let $ = layui.jquery
                ,element = layui.element
                ,laytpl = layui.laytpl;
            $.get('/api/v1/system/menus/tree',function(data){
                let menuTemplatesHtml = document.querySelector('#menuTemplates').innerHTML;
                laytpl(menuTemplatesHtml).render(data, function (html) {
                    let nav = $('#nav');
                    nav.append(html);
                });
                element.render();
                let items = document.querySelectorAll('.layui-side .layui-nav .layui-nav-item');
                items.forEach(function (item) {
                    let activated = item.querySelector('.layui-this');
                    if (!activated) return;
                    item.className = item.className + ' layui-nav-itemed';
                });
            });
        }());
    </script>
</div>
</html>