<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-side-menu" th:fragment="menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
            <span>绿呗支付-管理后台</span>
        </div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="nav"  lay-filter="test">
            <script id="menuTemplates" type="text/html">
                {{# layui.each(d, function(index, item){ }}
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon {{ item.icon }}"></i>
                        <cite>{{ item.title }}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        {{# layui.each(item.children, function(i, it){ }}
                        {{# if (it.type === 2 ) { }}
                        <dd class="{{# if(window.location.pathname.indexOf(it.path) === 0) { }} layui-this {{# } }}">
                            <a href="{{ it.path }}">{{ it.title }}</a>
                        </dd>
                        {{# } }}
                        {{#  }); }}
                    </dl>
                </li>
                {{#  }); }}
            </script>
        </ul>
    </div>
</div>
</html>