<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理 - GreenPay</title>
    <th:block th:replace="admin/header::frame_stylesheet" />
    <style type="text/css">
        .layui-form-label {
            padding: 9px 5px;
            width: 80px;
        }
        .layui-input-block {
            margin-left: 90px;
        }
    </style>
</head>
<body>
<form id="addForm" class="layui-form" action="" method="post" style="padding: 20px 30px 0 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称：</label>
        <div class="layui-input-block">
            <input id="name"
                   name="name"
                   autocomplete="off"
                   class="layui-input"
                   type="text"
                   placeholder="请输入角色名称"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色编码：</label>
        <div class="layui-input-block">
            <input id="roleCode"
                   name="roleCode"
                   autocomplete="off"
                   class="layui-input"
                   type="text"
                   placeholder="请输入角色编码"/>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="hidden" name="password">
        <input type="submit" lay-submit="" lay-filter="formAdd" id="submitBtn" value="提交">
    </div>
</form>
<th:block th:replace="admin/footer::script"/>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.13.0/js/md5.min.js"></script>
<script th:inline="none">
    !function(){
        let $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;
        form.on('submit(formAdd)',function (data) {
            $.ajax({
                type: "POST",
                data: $("#addForm").serialize(),
                url: "/api/v1/system/roles",
                dataType: 'json',
                success: function (data) {
                    const frameIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(frameIndex);
                },
                error: function (data={responseJSON:null}) {
                    if (!data.responseJSON){
                        layer.msg("请求失败，请稍后重试");
                        return;
                    }
                    const {code,message,errors} = data.responseJSON;
                    if (errors && errors.length > 0){
                        const errorMessage = errors[0].message;
                        layer.msg(errorMessage);
                    }else if(message){
                        layer.msg(message);
                    }else {
                        layer.msg("请求失败，请稍后重试");
                    }
                }
            });
            return false;
        });
    }();
</script>
</body>
</html>