<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理后台 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">

                                    <div class="analysis-card-meta">
                                        <span>入驻商户数</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span th:text="${homeDateVo.merchantUserInteger}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>收单总数(笔)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span th:text="${homeDateVo.orderTotal}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>成交总额(元)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="'￥'+${homeDateVo.orderMoneyTotal}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>平台结算支出(元)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="'￥'+${homeDateVo.paySettleSum}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>今日收单总数(笔)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="${homeDateVo.intradayOrder}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>今日成交笔数(笔)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="${homeDateVo.intradayOrderSucces}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>今日成交额(元)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="'￥'+${homeDateVo.intradayOrderMoneys}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3" style="padding: 10px 20px;">
                            <div class="layui-card analysis-card">
                                <div class="layui-card-body analysis-card-body">
                                    <div class="analysis-card-meta">
                                        <span>今日结算支出(元)</span>
                                    </div>
                                    <div class="analysis-card-total">
                                        <span  th:text="'￥'+${homeDateVo.intradaySettleSucces}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md12" style="padding: 10px 20px;">
                            <div class="layui-card">
                                <div class="layui-card-header">七日订单数据</div>
                                <div class="layui-card-body">
                                    <div id="main" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <footer th:replace="admin/compose::admin-footer"></footer>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="javascript">
    // let homeDataJson = [${}}]
</script>
<script>
    !function () {


        let myChart = echarts.init(document.getElementById('main'));

        let option = {
            grid: {
                left: '2%',
                right: '2%',
                top: '5%',
                bottom: '10%'
            },
            legend: {
                data: ['收单数','成交单数','成交总额']
            },
            xAxis: {
                type: 'category',
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '收单数',
                data: [600, 860, 100, 450, 934, 600, 860],
                type: 'line',
                radius: '100%'
            },{
                name: '',
                data: [860, 100, 600, 860, 1290, 860, 934],
                type: 'line',
                radius: '100%'
            },{
                name: '收单数',
                data: [100, 860, 600, 400, 450, 480, 860],
                type: 'line',
                radius: '100%'
            },{
                name: '收单数',
                data: [600, 932, 450, 934, 1290, 450, 820],
                type: 'line',
                radius: '100%'
            }]
        };
        myChart.setOption(option);
    }();
</script>
<script>
    !function(){
        let layer = layui.layer
            ,form = layui.form;
        // layer.msg('Hello World');
    }();
</script>

</body>
</html>